asgiref
certifi
cffi
chardet
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-cors-headers
django-heroku
django-rest-api
django-rest-auth
djangorestframework
gunicorn
idna
ndg-httpsclient
oauthlib
pip
psycopg2
pusher
pyasn1
pycparser
PyNaCl
pyOpenSSL
python-decouple
python3-openid
pytz
requests
requests-oauthlib
setuptools
six
sqlparse
urllib3
wheel
whitenoise